.carousel {
  height: 100%;
  min-height: 720px;
  text-align: center;
  .carousel-inner > .item > img, .carousel-inner {
    height: 100%;
  }
  .item {
    height: 100%;

    .carousel-caption {
      top: 30%;
      h1 {
        font-size: 46px;
        margin-bottom: 20px;
        font-weight: 700;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      }
      p {
        font-size: 16px;
      }
    }
  }
}

html,body, #zix-app{height:100%;}
