/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  .navbar {
    background-color: transparent;
    &.navbar-inverse {
      border: none;
      margin-bottom: 0;
      .navbar-brand {
        color: #fff;
        font-size: 22px;
        font-weight: 400;
      }
      .navbar-nav > li > a {
        color: #fff;
        font-weight: 400;
      }
    }
    &.top-nav-collapse {
      background-color: #FFF;
      box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      &.navbar-inverse {
        .navbar-brand {
          color: $primary-color;
          font-size: 20px;
        }
        .navbar-nav > li > a {
          color: #666;
        }
      }
    }
  }
}

