.card {
  position: relative;
  display: block;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 1px;

  .card-block {
    padding: 15px;
  }

  .form-header {
    color: #fff;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #F44336;
  }
}