
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #F44336;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$primary-color: #F44336;
$secondary-color: color("red", "lighten-1") !default;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Footer
$footer-text-color:                   #FFF;
$footer-link-color:                   darken($footer-text-color, 10%);
$footer-hover-link-color:             $brand-primary;
$footer-background-color:             #212121;

$footer-border-top:                   2px solid $brand-primary;

$footer-copyright-background-color:   darken($footer-background-color, 10%);
$footer-copyright-text-color:         $footer-text-color;
$footer-copyright-link-color:         $footer-text-color;
$footer-copyright-hover-link-color:   $brand-primary;
$footer-copyright-border-top:         1px solid $footer-background-color;
$footer-copyright-border-bottom:      1px solid $footer-background-color;
