
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');



// Bootstrap
@import "bootstrap";
@import '~font-awesome/scss/font-awesome';
@import '~dropzone/src/dropzone';
//@import 'mdl';
@import "materialize";


// Variables
@import "variables";
@import "../../../../modules/Core/Assets/default/sass/app";

// Partials
//@import "partials/footer";
@import "partials/header";
@import "partials/banner";


@import "custom/buttons";
//@import "custom/cards";
//@import "custom/shadow";
@import "custom/forms";


// Layouts
@import "layouts/home-our-services";
@import "layouts/home-about-us";
@import "layouts/home-contact-us";


body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #373a3c;
}