.l-our_services {
  margin-bottom: 40px;
  h1, strong {
    color: $primary-color;
  }
  .box {
    width: 100%;
    .btn-floating {
      width: 150px;
      height: 150px;
    }
    h2 {
      color: $primary-color;
      font-size: 36px;
    }
  }
}