.l-about_us {
  padding: 50px 0;
  background: url(/images/background/bg-header-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #FFF;
}